/**************************************************/
/*                     RESET                      */
/**************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

input, button{
    border-style: none;
}

a{
    text-decoration: none;
}

/**************************************************/
/*                      ROOT                      */
/**************************************************/

:root{
    --black: black;
    --primary-purple: rgb(38, 16, 63);
    --primary-purple-transparent: rgba(54, 22, 88, 0.4);
    --white-transparent: rgba(255, 255, 255, 0.7);
    --black-semi-transparent:  rgba(0, 0, 0, 0.5);
    --white-semi-transparent:  rgba(255, 255, 255, 0.4);
    --light-purple: rgba(200, 178, 225, 0.8);
    --off-white: rgb(250, 247, 245);
    --brown: rgb(130, 30, 30);
    --light-orange: rgb(244, 164, 117);
    --orange-semi-transparent: rgba(244, 164, 117, 0.5);
    --light-green: rgb(140, 234, 143);
    --light-blue: rgb(217, 248, 255);    
    --spacing-tiny: 5px;
    --spacing-tiny-small: 10px;
    --spacing-small: 15px;
    --spacing-small-medium: 30px;
    --spacing-medium: 50px;
    --spacing-medium-large: 70px;
    --spacing-large: 100px;
    --spacing-xlarge: 150px;
}

/**************************************************/
/*                    LAYOUT                      */
/**************************************************/

.top_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo_title,
.header_wrapper,
.tile_details_container_wrapper{
    display: flex;
}

.search_bar{
    display: flex;
    flex-basis: 400px;    
}

.day_details{
    display: flex;
    justify-content: flex-start;
}

.details, 
.details_wrapper,
.details_header,
.tile_details_container,
.weather_tiles_wrapper,
.weather_tiles_section,
.message_wrapper
{
    display: flex;
    flex-direction: column;      
}

.weather_tiles_section{
    flex-grow: 1;
    justify-content: flex-end
}

#app{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.tile_details_container{
    flex-grow: 1;
}

.details_header{    
    align-items: left;
}

.weather_tiles_container{
    display: inline-grid;  
    grid-template-columns: repeat(3, 250px [col-start]);  
    overflow-y: hidden;
    white-space: nowrap;
    column-gap: var(--spacing-small-medium);
    justify-content: center;
}

/**************************************************/
/*                   COMPONENTS                   */
/**************************************************/

body{
    width: 100%;  
}

main{
    background-image: linear-gradient(to bottom, rgba(160, 59, 228, 0.6), transparent),
                      linear-gradient(to top, rgba(198, 119, 79, 0.9), transparent);
    background-repeat: no-repeat;  
    background-size: cover;  
    background-position: center;      
    animation: pan 400s infinite linear;
}

/*--------------------------------------*/
/*             LOCATION VIEW            */
/*--------------------------------------*/

.message{
    background-image: linear-gradient(to bottom, rgba(160, 59, 228, 0.6), transparent),
                      linear-gradient(to top, rgba(198, 119, 79, 0.9), transparent),
                      url('../img/world-map.svg');
    background-repeat: repeat-x;       
    background-size: auto 200%; 
    height: 100%;   
    padding: var(--spacing-large);               
    animation: pan 400s infinite linear; 
}    

.location_view_wrapper{    
    height: 100vh; 
    overflow: hidden;    
}  

@keyframes pan {
    0% {
      background-position: 0% 0%;        
    }
    50% {
      background-position: 100% 100%;           
    }    
    100% {
        background-position: 0% 0%;           
    }  
}  

.message_wrapper{
    margin-left: var(--spacing-xlarge);     
    margin-right: var(--spacing-xlarge);    
    background-color: var(--white-semi-transparent); 
    padding: var(--spacing-large);
    border-radius: var(--spacing-small);
    backdrop-filter: blur(1px); 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}    

.message_wrapper img{
    height: 200px;
    object-fit: contain;
    opacity: 0.5;
    padding-top: var(--spacing-medium-large);
    animation: pulsate 3s infinite;
}    

@keyframes pulsate {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }    
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

/*--------------------------------------*/
/*         SEARCH RESULTS LIST          */
/*--------------------------------------*/

.search_results_container{
   
    position: absolute;
    top: var(--spacing-tiny-small);
    right: var(--spacing-small);
    margin-top: var(--spacing-large);
    background-color: var(--white-transparent);
    backdrop-filter: blur(2px);
    padding-left: var(--spacing-small);
    padding-right: var(--spacing-small);
    padding-top: var(--spacing-small);
    padding-bottom: var(--spacing-small);
    border-radius: var(--spacing-small);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    z-index: 25;   
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.search_results_container.show {
    max-height: 100vh; 
}

.search_result{
    padding: var(--spacing-tiny-small);
    border-radius: var(--spacing-tiny);
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;    
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.search_result:hover{
    background-color: var(--orange-semi-transparent);    
}    

/*--------------------------------------*/
/*               TOP BAR                */
/*--------------------------------------*/

.top_bar{
    background-color: var(--primary-purple);
    padding-top: var(--spacing-small-medium);      
    padding-bottom: var(--spacing-small-medium);
    padding-left: var(--spacing-medium-large);
    padding-right: var(--spacing-medium-large);
}

.logo_title img{
    width: 50px;
}

.logo_title h1{
    margin-left: var(--spacing-small-medium);
}

.search_bar input[type="search"]{
    height: var(--spacing-small-medium);
    border-top-left-radius: var(--spacing-tiny);
    border-bottom-left-radius: var(--spacing-tiny);
    padding-left: var(--spacing-tiny-small);    
    width: 100%;    
    transition: 0.3s ease;
}

.search_bar input[type="search"]:focus{
    outline: none;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    width: 700px;    
}

.search_bar button{
    height: var(--spacing-small-medium); 
    border-top-right-radius: var(--spacing-tiny);
    border-bottom-right-radius: var(--spacing-tiny);
    padding-left: var(--spacing-tiny-small);
    padding-right: var(--spacing-tiny-small);    
    background-color: var(--light-orange);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: 0.4s;
}

.search_bar button:hover{
    background-color: rgb(238, 184, 77);
}

.search_bar button:active{
    background-color: var(--light-green);
}


/*--------------------------------------*/
/*              DETAILS                 */
/*--------------------------------------*/

.day_details{
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

.details{    
    background-image: linear-gradient(to bottom, var(--primary-purple), transparent);
    border-top-right-radius: var(--spacing-small);
    border-bottom-right-radius: var(--spacing-small);       
    padding-bottom: var(--spacing-medium);   
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;     
    backdrop-filter: blur(2px);
    overflow: hidden;
}

.details .city{
    margin-left: var(--spacing-medium-large);
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-small);
}

.header_wrapper{
    padding-left: var(--spacing-medium-large);
    padding-top: var(--spacing-small);     
    padding-bottom: var(--spacing-small);     
}

.details_wrapper *{    
    padding-left: var(--spacing-medium-large);  
    padding-right: var(--spacing-small);
    padding-top: var(--spacing-tiny);
    padding-bottom: var(--spacing-tiny);
    margin-right: var(--spacing-medium);     
}
 
.details_wrapper > :nth-child(odd) {
    background-color: var(--black-semi-transparent);    
}

.weather_icon{
    
    width: 100px;  
}

.weather_icon img{
    object-fit: contain;
    width: 100%;   
}

.weather_icon_large img{   
   width: 150px;  
}

.details_header .day,
.details_header .date,
.details_header .weather_status_description{
    margin-bottom: var(--spacing-small);
}

/*--------------------------------------*/
/*         WEATHER TILES GRID           */
/*--------------------------------------*/

.weather_tiles_wrapper{   
    background-image: linear-gradient(to bottom, var(--primary-purple), transparent);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: var(--spacing-small);
    margin-left: var(--spacing-large);
    margin-right: var(--spacing-large);
    margin-bottom: var(--spacing-medium);  
    padding-bottom: var(--spacing-medium);    
    backdrop-filter: blur(2px);
    justify-content: center;
    overflow: hidden;  
}

.weather_tiles_wrapper h1{   
    margin-top: var(--spacing-small-medium);   
    text-align: center;      
}

.weather_tile{
    margin-top: var(--spacing-medium);      
    border-radius: var(--spacing-tiny-small);   
    background-color: var(--light-purple);    
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all 0.3s ease;
    backdrop-filter: blur(2px);
    border: 1px solid var(--white-semi-transparent);   
    height: 200px;
}

.weather_tile:hover{
    background-color: rgb(210, 182, 249);
    transform: translateY(-5px) scale(1.05);     
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);            
}

.tile_header_wrapper{
    background-color: var(--primary-purple);
    padding: var(--spacing-small);       
}

.tile_header_wrapper > :first-child{    
    margin-bottom: var(--spacing-tiny-small);
}

.tile_details_container_wrapper{
    padding: var(--spacing-small);
}

.tile_details_container *{
    margin-bottom: var(--spacing-tiny-small);
}


/*--------------------------------------*/
/*                 FOOTER               */
/*--------------------------------------*/

footer{
    background-color: var(--primary-purple);    
    padding: var(--spacing-small-medium);
}

footer h1{
    text-align: center;
}


/**************************************************/
/*                  TYPOGRAPHY                    */
/**************************************************/

.logo_title h1{
    font-size: 35px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    color: var(--off-white);
}

.search_bar button{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--black);
}    

.search_bar input[type="search"]{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;    
}   

.weather_tiles_wrapper h1{
    font-size: 25px;
    font-family: 'Maven Pro', sans-serif;
    color: var(--off-white);
    font-weight: 500;
}

.details{
    color: var(--off-white);
}

.header_wrapper{
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;    
}

.details .city{
    font-family: 'Maven Pro', sans-serif;
    font-size: 45px; 
    color: var(--light-orange);
    font-weight: 500; 
    letter-spacing: 1px;
}

.details .day, 
.details .date,
.details .weather_status_description{
    font-size: 25px; 
    color: var(--off-white); 
    font-weight: 500; 
    letter-spacing: 1px;
}

.weather_tile .day, 
.weather_tile .weather_status_description{
    font-size: 19px;      
}

.weather_tile{
    font-family: 'Work Sans', sans-serif;    
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-purple);    
}

.weather_tile .date{
    font-size: 16px;
    font-weight: 400;
}

.details_wrapper{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;  
    letter-spacing: 1px;     
}

.details_wrapper *{
    line-height: var(--spacing-small-medium);
}    

.tile_header_wrapper{
    color: var(--off-white);
}

footer h1{
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--off-white);
    letter-spacing: 1px;
}

.message{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: var(--black);
    line-height: var(--spacing-medium);
}

.search_result{
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/**************************************************/
/*                    UTILITIES                   */
/**************************************************/

.hidden{
    display: none;
}


/**************************************************/
/*               RESPONSIVE STYLES                */
/**************************************************/